<section class="page-header page-404 m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <h1>404</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <h2>OPS, NÃO ENCONTRAMOS ESSA PÁGINA.</h2>
            <p class="m-t-40">Desculpe, tente com outro nome ou faça uma pesquisa.</p>
            <a href="#" class="button is-size-1 is-secondary is-small m-t-40 m-b-80">
                <img src="/img/bt-menos.svg" class="m-r-8">
                <span class="is-fullwidth is-flex is-uppercase p-r-8">VOLTE PARA A PÁGINA INICIAL</span>
            </a>
        </article>
    </div>    
</section>