<section class="artigos mt-80 pb-40">
  <div class="container">
    <div class="artigos-title">
      <p class="is-size-1 is-fullwidth pb-20">ARTIGOS</p>
      <h3 class="has-color-orange is-uppercase is-size-5 is-size-4-touch m-b-56">
        Acesse e confira <br class="is-hidden-mobile">nossos artigos
      </h3>
    </div>
  </div>
  <div class="container">
    <div class="slider artigos-list">
      <div data-articles-slider="" class="slider-container">
        <div class="items">
          <div class="artigo-item">
            <div>
              <p class="tags is-size-1 is-fullwidth has-color-purple is-uppercase mb-8">
                <a href="#" class="has-color-purple"><small>Diversidade</small></a>,
                <a href="#" class="has-color-purple"><small>LGBTQ+</small></a>
              </p>
              <a href="/" class="artigo-link">
                <p class="is-full is-size-2 m-b-8 order-1">
                  <strong>Como aumentar a diversidade a diversidade a diversidade em cargos de liderança em cargos de liderança?</strong>
                </p>
                <p class="is-size-1 is-uppercase is-fullwidth has-color-gray m-b-32 order-2">
                  <small>03/06 - <strong>Julia Figueiredo</strong></small>
                </p>
              </a>
            </div>            
            <a href="/" class="artigo-link">              
              <img src="../../img/artigo-1.jpg" alt="Como aumentar a diversidade em cargos de liderança?" class="image order-3">
            </a>
          </div>
        </div>
        <div class="items">
          <div class="artigo-item">
            <div>
              <p class="tags is-size-1 is-fullwidth has-color-purple is-uppercase mb-8">
                <a href="" class="has-color-purple"><small>Diversidade</small></a>,
                <a href="" class="has-color-purple"><small>LGBTQ+</small></a>
              </p>
              <a href="/" class="artigo-link">              
                <p class="is-full is-size-2 m-b-8 order-1">
                  <strong>Por que junho é o mês do <br class="is-hidden-mobile">Orgulho LGBT #ProudAtWork</strong>
                </p>
                <p class="is-size-1 is-uppercase is-fullwidth has-color-gray m-b-32 order-2">
                  <small>23/05 - <strong>Julia Figueiredo</strong></small>
                </p>
              </a>
            </div>            
            <a href="/" class="artigo-link">              
              <img src="../../img/artigo-2.jpg" alt="Por que junho é o mês do Orgulho LGBT #ProudAtWork" class="image order-3">
            </a>
          </div>
        </div>
        <div class="items">
          <div class="artigo-item">
            <div>
              <p class="tags is-size-1 is-fullwidth has-color-purple is-uppercase mb-8">
                <a href="" class="has-color-purple"><small>Diversidade</small></a>,Ò
                <a href="" class="has-color-purple"><small>LGBTQ+</small></a>
              </p>
              <a href="/" class="artigo-link">
                <p class="is-full is-size-2 m-b-8 order-1">
                  <strong>Como aumentar a diversidade <br class="is-hidden-mobile">em cargos de liderança?</strong>
                </p>
                <p class="is-size-1 is-uppercase is-fullwidth has-color-gray m-b-32 order-2">
                  <small>22/05 - <strong>Julia Figueiredo</strong></small>
                </p>
              </a>
            </div>
            <a href="/" class="artigo-link">              
              <img src="../../img/artigo-3.jpg" alt="Como aumentar a diversidade em cargos de liderança?" class="image order-3">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="columns more-action p-t-40">
      <div class="column">
        <a href="" class="button is-size-1 is-secondary is-small">
          <img src="/img/bt-menos.svg" class="m-r-8">
          <span class="is-fullwidth is-flex is-uppercase p-r-8">Ver todos os artigos</span>
        </a>
      </div>
    </div>
  </div>
</section>