<section class="page-header base-page m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>subtitulo</p>
            <h1>TÍTULO</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <h4 class="c10" style="text-align: center;"><span class="c13" style="color: #6b56a5;"><strong>POLÍTICA DE
                        PRIVACIDADE E PROTEÇÃO DE DADOS PESSOAIS</strong></span></h4>
            <p>Por favor, leia esta Política de Privacidade e Proteção de Dados Pessoais cuidadosamente para entender
                nossas políticas e práticas sobre seus Dados Pessoais e como o tratamento destes dados é realizado.</p>
            <p>Esta Política se aplica a indivíduos (pessoas naturais) que interagem com os serviços da MAIS DIVERSIDADE
                como clientes ou usuários (“Você”). Esta Política explica como seus Dados Pessoais são coletados, usados
                e divulgados pela MAIS DIVERSIDADE (referida nessa política como “MAIS DIVERSIDADE”, “Nós”, “Conosco”).
                Ela também informa como Você pode acessar e atualizar seus Dados Pessoais e tomar certas decisões sobre
                como seus Dados Pessoais são utilizados.</p>
            <p>Esta Política abrange nossas atividades de coleta de dados tanto online e offline, abrangendo os Dados
                Pessoais que Nós coletamos por meio de nossos vários canais, incluindo – mas não limitado a – Sites na
                web, Aplicativos e Redes Sociais de terceiros. Por favor, note que Nós poderemos agregar Dados Pessoais
                combinados de diferentes fontes (por exemplo, nosso site e eventos offline).</p>
            <p>Em alguns casos específicos, se Você decidir por não nos fornecer os seus Dados Pessoais apontados como
                necessários (Nós indicaremos quando esse for o caso, por exemplo, colocando explicitamente essa
                informação em nossos formulários de registro), Nós talvez não possamos fornecer a Você nossos serviços.
            </p>
            <p><span style="color: #6b56a5;"><strong>Fontes de Dados Pessoais</strong></span></p>
            <p>Nós coletamos seus Dados Pessoais através das seguintes fontes:</p>
            <ul>
                <li><strong>Sites da MAIS DIVERSIDADE</strong>: Nossos sites podem ser utilizados para coleta de dados
                    pessoais. Isso inclui tanto o site que operamos diretamente através dos nossos domínios e endereços
                    IPs, quanto sites ou páginas que Nós estabelecemos em serviços de terceiros, como Facebook,
                    Instagram e Linkedin, e demais terceiros que ofertam esse tipo de serviço.</li>
                <li><strong>Correio Eletrônico e sistemas de troca de mensagens instantâneas</strong>: Serviços
                    utilizados para manter comunicações eletrônicas entre Você e a MAIS DIVERSIDADE, incluindo aqueles
                    disponibilizados diretamente por Nós, ou serviços de terceiros como WhatsApp, Telegram, SMS (serviço
                    de mensagens curtas) e similares.</li>
                <li><strong>Aplicativos móveis da MAIS DIVERSIDADE</strong>: Aplicativos móveis fornecidos diretamente
                    pela MAIS DIVERSIDADE ou através de serviços de terceiros como Apple, Microsoft ou Google.</li>
                <li><strong>Atendimento ao cliente ou usuário</strong>: Comunicações realizadas com Você através das
                    nossas centrais de atendimento e vendas.</li>
                <li><strong>Anúncios, propagandas e formulários online</strong>: Interações com qualquer tipo de
                    anúncios, propagandas e formulários online da MAIS DIVERSIDADE.</li>
                <li><strong>Registros offline</strong>: Registros preenchidos offline, distribuídos durante eventos e
                    outras interações com a MAIS DIVERSIDADE.</li>
                <li><strong>Dados recebidos de terceiros</strong>: Incluindo, mas não limitado a, redes sociais e sites
                    de terceiros como, por exemplo, Facebook, Instagram, Linkedin, e similares, fornecedores e parceiros
                    da MAIS DIVERSIDADE e fontes públicas.</li>
            </ul>
            <p><span style="color: #6b56a5;"><strong>Quais são seus de Dados Pessoais que coletamos e como estes são
                        coletados</strong></span></p>
            <p>Durante sua interação junto à MAIS DIVERSIDADE, usando uma das fontes de coleta previamente mencionadas,
                podemos coletar vários tipos de dados pessoais sobre Você, conforme exposto a seguir:</p>
            <ul>
                <li><strong>Informações de Contato</strong>: Inclui qualquer tipo de informação que possa facilitar
                    nosso contato com Você, incluindo seu endereço físico de correspondência, números de telefone,
                    endereços de correio eletrônico, sites e perfis em redes sociais.</li>
                <li><strong>Informações de login</strong>: Inclui informações para se identificar e autenticar em
                    serviços fornecidos pela MAIS DIVERSIDADE, incluindo seu nome de registro (login), senha em formato
                    irrecuperável (criptografado), e perguntas de segurança.</li>
                <li><strong>Informações demográficas e seus interesses</strong>: Qualquer informação que possa descrever
                    seus dados demográficos, hábitos ou suas características de comportamento, incluindo itens como seu
                    aniversário, data de nascimento, idade ou faixa etária, gênero, localização geográfica, e
                    informações familiares ou sobre seu estilo de vida.</li>
                <li><strong>Informações técnicas sobre seus equipamentos computacionais ou dispositivos móveis</strong>:
                    Detalhes sobre o seu computador ou outro dispositivo portátil que foi utilizado para acessar um de
                    nossos sites, serviços ou aplicativos, incluindo o registro do endereço IP utilizado para conectar
                    seu computador ou dispositivo à internet, incluindo sua localização geográfica, o tipo e a versão de
                    sistema operacional e o tipo e a versão do navegador da web. Se Você acessar um site ou aplicativo
                    da MAIS DIVERSIDADE usando um dispositivo móvel, como um celular inteligente ou tablet, as
                    informações coletadas também incluirão, sempre que permitido, o ID de dispositivo exclusivo de seu
                    telefone, a localização geográfica e outros dados similares do dispositivo móvel.</li>
                <li><strong>Informações sobre como Você utiliza nossos sites e serviços</strong>. Durante sua interação
                    com nossos sites e serviços, Nós utilizamos tecnologias de coleta automática de dados para capturar
                    informações sobre as ações que Você tomou. Isso pode incluir detalhes como em quais links Você
                    clica, quais páginas ou conteúdos Você visualiza e por quanto tempo, e outras informações e
                    estatísticas semelhantes sobre suas interações, como tempos de resposta a conteúdo, erros de
                    download e duração das visitas a determinadas páginas. Essas informações são capturadas por meio de
                    tecnologias automatizadas, como Cookies (Cookies de navegador, Cookies Flash e similares) e web
                    beacons, e também via rastreamento de terceiros. Você possui total liberdade para se opor à
                    utilização de tais tecnologias, para isso consulte os detalhes, na Seção “Sobre seus direitos
                    referentes a Dados Pessoais”.</li>
                <li><strong>Pesquisas de mercado e feedback de clientes ou usuários</strong>: São informações que Você
                    compartilha voluntariamente com a MAIS DIVERSIDADE sobre sua experiência de uso de nossos serviços.
                </li>
                <li><strong>Conteúdo gerado por clientes ou usuários</strong>: Incluindo qualquer conteúdo que Você cria
                    e compartilha com a MAIS DIVERSIDADE em redes sociais de terceiros ou por meio de carregamento para
                    um de nossos sites, aplicativos e demais serviços online e offline, incluindo o uso de aplicativos
                    de rede social de terceiros, como o Facebook, Instagram, Linkedin e similares. Esses dados incluem
                    textos, comentários, artigos, fotos, vídeos, histórias pessoais ou outros conteúdos e mídias
                    semelhantes. Sempre que permitido, Nós coletamos e publicamos conteúdos gerados por clientes ou
                    usuários em conexão com uma variedade de atividades, incluindo divulgação de serviços da MAIS
                    DIVERSIDADE, recursos de comunidade do site e redes sociais de terceiros.</li>
                <li><strong>Informações de redes sociais de terceiros</strong>: Trata-se de quaisquer dados que Você
                    compartilha publicamente em uma rede social de terceiros ou informações que fazem parte de seu
                    perfil em uma rede social de terceiros (como o Facebook, Instagram, Linkedin e similares) e que Você
                    permite que a rede social de terceiros compartilhe Conosco. Esses dados podem incluir detalhes como
                    suas informações básicas de conta (nome, endereço de e-mail, gênero, data de nascimento, cidade
                    atual, foto de perfil, ID de usuário, lista de amigos e informações similares.) e quaisquer outras
                    informações ou atividades adicionais que Você permita que a rede social de terceiros compartilhe
                    conosco. Nós recebemos suas informações de perfil de rede social de terceiros (ou partes delas)
                    sempre que Você baixa um item ou interage com um aplicativo ou serviço da web da MAIS DIVERSIDADE em
                    uma rede social de terceiros, sempre que Você utiliza um recurso de rede social que é integrado a um
                    site da MAIS DIVERSIDADE ou sempre que Você interage Conosco por meio de uma rede social de
                    terceiros. Para saber mais sobre como suas informações de uma rede social de terceiros são obtidas
                    pela MAIS DIVERSIDADE ou para optar por não compartilhar essas informações de rede social, visite o
                    site da rede social de terceiros específica.</li>
                <li><strong>Informações financeiras e de pagamento</strong>: Quaisquer dados que a MAIS DIVERSIDADE
                    necessita para executar o serviço contratado, como os dados de seu cartão de débito ou crédito (nome
                    do titular do cartão, número do cartão, data de validade e etc.) ou outras formas de pagamento
                    utilizadas. A MAIS DIVERSIDADE ou nossos prestadores de serviço de processamento de pagamentos
                    manuseia suas informações financeiras e de pagamento em conformidade com as leis, normas e os
                    padrões de segurança aplicáveis, como o PCI DSS (“Payment Card Industry Secutiry Standards
                    Council”).</li>
                <li><strong>Contatos com nosso Serviço de Atendimento ao Cliente ou Usuário</strong>: Suas interações
                    com nossos Serviço de Atendimento ao Cliente ou Usuário podem ser gravadas ou ouvidas, de acordo com
                    as leis aplicáveis, para necessidades operacionais da MAIS DIVERSIDADE. Detalhes de informações
                    financeiras e de pagamentos não são gravados. Quando exigido por lei, Você será informado sobre tal
                    gravação ainda no início de sua chamada.</li>
                <li><strong>Dados Pessoais Sensíveis</strong>: Quando houver legitimo interesse ou for necessário
                    processar seus dados pessoais sensíveis, por qualquer motivo, nós obteremos seu prévio, expresso e
                    formal consentimento para qualquer processamento que for voluntário. Se processarmos seus dados
                    pessoais sensíveis para outras finalidades, Nós nos apoiamos nas seguintes bases legais: (i)
                    detecção e prevenção de crime; (ii) obrigação contratual; e (iii) cumprimento da lei aplicável.</li>
            </ul>
            <p><span style="color: #6b56a5;"><strong>Sobre Dados Pessoais de Crianças e Adolescentes</strong></span></p>
            <p>A MAIS DIVERSIDADE não solicita, coleta, processa, armazena ou compartilha, conscientemente, dados
                pessoais de crianças e adolescentes menores de idade. Se descobrirmos a ocorrência de qualquer tipo de
                manuseio dos referidos dados, forma não-intencional, removeremos os dados pessoais daquela criança ou
                adolescente de nossos registros rapidamente. Entretanto, a MAIS DIVERSIDADE pode coletar dados pessoais
                de crianças e adolescentes diretamente dos seus pais ou responsáveis legais, e com consentimento
                explícito, e de acordo com as regras da legislação vigente.</p>
            <p><span style="color: #6b56a5;"><strong>Sobre o uso de Cookies, arquivos de registos (logs) e
                        similares</strong></span></p>
            <p>Cookies são pequenos arquivos de texto que podem ser colocados no seu computador ou dispositivo portátil
                por sites ou serviços na web que Você utiliza. São utilizados para garantir o bom funcionamento de sites
                e demais serviços online, assim como para fornecer informações aos proprietários do site ou serviço
                online.</p>
            <p>Cookies são utilizados para melhorar o uso e a funcionalidade dos sites e demais serviços na web
                compatíveis da MAIS DIVERSIDADE e entender melhor como nossos visitantes utilizam os nossos sites e
                serviços online, bem como as ferramentas e serviços por eles oferecidos. Os Cookies nos facilitam o
                processo de adaptar os sites da MAIS DIVERSIDADE às suas necessidades pessoais, facilitando sempre que
                possível o seu uso, receber feedback da satisfação dos nossos clientes.</p>
            <p>A MAIS DIVERSIDADE usa os seguintes tipos de Cookies em seus sites e serviços compatíveis:</p>
            <p><strong>Cookies de sessão</strong>: São Cookies de uso temporário, que são excluídos no momento em que
                Você fecha o seu navegador. Quando Você reinicia o seu navegador e volta para o site que criou o cookie,
                esse site trata Você como um novo visitante.</p>
            <p><strong>Cookies persistentes</strong>: São aqueles Cookies que permanecem no seu navegador até Você
                deletá-los manualmente ou até o seu navegador deletá-los de acordo com o período de duração estabelecido
                pelo cookie. Esses Cookies reconhecerão seu retorno como visitante a um site ou serviço da MAIS
                DIVERSIDADE.</p>
            <p><strong>Cookies necessários</strong>: São Cookies estritamente necessários para a operação de um site ou
                serviço compatível da MAIS DIVERSIDADE. Eles permitem que Você navegue pelo site e use nossos recursos.
            </p>
            <p><strong>Cookies que nos mandam informações sobre Você</strong>: Nós colocamos esse tipo de Cookies em um
                site ou serviço compatível da MAIS DIVERSIDADE e este tipo de Cookie só pode ser lido por nossos sites e
                serviços compatíveis.</p>
            <p>É importante lembrar que cabe a Você assegurar que as configurações do seu computador ou dispositivo
                portátil reflitam se Você consente em aceitar Cookies ou não.</p>
            <p>A maioria dos navegadores permite que Você estabeleça regras para avisá-lo antes de aceitar Cookies ou
                simplesmente recusá-los. Você não precisa ter Cookies habilitados para usar ou navegar a maior parte dos
                sites e serviços online da MAIS DIVERSIDADE, entretanto neste caso não podemos assegurar que Você vai
                conseguir acessar todos os seus recursos. Recomendamos que Você veja no botão “ajuda” no seu navegador
                como realizar esse tipo de configuração. Lembre-se que se Você usar navegadores, ou mesmo computadores
                e/ou dispositivos portáteis diferentes em locais diferentes, Você precisará se assegurar de que cada
                dispositivo e navegador esteja ajustado para suas preferências pessoais de Cookies.</p>
            <p><span style="color: #6b56a5;"><strong>Sobre o uso de seus Dados Pessoais</strong></span></p>
            <p>Os itens a seguir descrevem as finalidades para as quais a MAIS DIVERSIDADE coleta seus Dados Pessoais, e
                os diferentes tipos de Dados Pessoais que coletamos para cada finalidade. Note, por favor, que nem todos
                os usos abaixo serão relevantes para todos os indivíduos e podem se aplicar apenas a situações
                específicas.</p>
            <ul>
                <li><strong>Serviços ao cliente ou usuário</strong>: Seus Dados Pessoais são utilizados para finalidade
                    de prestar serviços ao cliente ou usuário, incluindo responder a suas dúvidas, questionamentos e
                    sugestões. Usualmente, isso requer certas informações pessoais de contato e informações sobre o
                    motivo de seu questionamento, dúvida ou sugestão, por exemplo, qual foi o seu pedido, se existe um
                    problema técnico, questão ou reclamação sobre o serviço, questionamento em geral.
                    <ul>
                        <li><strong>Motivo para uso dos seus dados pessoais nessa situação:</strong>
                            <ul>
                                <li>Cumprir obrigações contratuais;</li>
                                <li>Cumprir obrigações legais;</li>
                                <li>Nossos interesses legítimos;</li>
                            </ul>
                        </li>
                        <li><strong>Nossos interesses legítimos nessa situação:</strong>
                            <ul>
                                <li>Melhorar continuamente os serviços da MAIS DIVERSIDADE;</li>
                                <li>Melhorar continuamente a efetividade do nosso atendimento ao cliente ou usuário;
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Redes sociais e sites de terceiros</strong>: Usamos seus Dados Pessoais quando Você interage
                    com funções de redes sociais e sites de terceiros, como “curtir”, para interagir com Você em redes
                    sociais de terceiros. A forma como essas interações funcionam, os dados de perfil que a MAIS
                    DIVERSIDADE obtém sobre Você, e como cancelá-los (“optout”) podem ser entendidas revisando as
                    políticas de privacidade diretamente nas respectivas redes sociais e sites de terceiros.
                    <ul>
                        <li>Motivo para uso dos seus dados pessoais nessa situação:
                            <ul>
                                <li>Nossos interesses legítimos;</li>
                                <li>Obtivemos o seu consentimento (quando necessário).</li>
                            </ul>
                        </li>
                        <li><strong>Nossos interesses legítimos nessa situação:</strong>
                            <ul>
                                <li>Entender quais de nossos serviços podem interessar a Você e fornecer informações
                                    sobre eles;</li>
                                <li>Definir clientes ou usuários para novos serviços;</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Personalização (offline e online)</strong>: Com base em seu consentimento (quando exigido
                    conforme legislação vigente), a MAIS DIVERSIDADE utiliza seus Dados Pessoais (i) para entender suas
                    preferências e hábitos, (ii) para antecipar suas necessidades, baseadas em nosso entendimento do seu
                    perfil, (iii) para melhorar e personalizar sua experiência em nossos sites e aplicativos; (iv) para
                    assegurar quer o conteúdo de nossos sites e aplicativos seja otimizado para Você e para seu
                    computador ou dispositivo; (v) para enviar a Você publicidade e conteúdo dirigidos, e (vi) para
                    permitir que Você participe de funções interativas, sempre que decidir fazê-lo. Nesta situação, o
                    uso de seus Dados Pessoais é completamente voluntário, o que significa que Você pode se opor, ou
                    mesmo retirar seu consentimento a qualquer momento, ao processamento de seus Dados Pessoais para
                    estas finalidades. Para obter maiores detalhes, veja a seção “Sobre seus direitos referentes a Dados
                    Pessoais” nesta política.
                    <ul>
                        <li><strong>Motivo para uso dos seus dados pessoais nessa situação:</strong>
                            <ul>
                                <li>Nossos interesses legítimos;</li>
                                <li>Obtivemos o seu consentimento (quando necessário).</li>
                            </ul>
                        </li>
                        <li><strong>Nossos interesses legítimos nessa situação:</strong>
                            <ul>
                                <li>Entender quais de nossos serviços podem interessar a Você e fornecer informações
                                    sobre eles;</li>
                                <li>Definir clientes ou usuários para novos serviços;</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><strong>Motivos legais ou fusão/aquisição</strong>: Caso a MAIS DIVERSIDADE ou seus bens sejam
                    adquiridos por, ou fundidos com, outra empresa, compartilharemos seus Dados Pessoais com nossos
                    sucessores legais, respeitando as exigências da legislação vigente. Também divulgaremos seus Dados
                    Pessoais a terceiros (i) quando requerido pela lei aplicável; (ii) em resposta a procedimentos
                    legais; (iii) em resposta a um pedido da autoridade legal competente; (iv) para proteger nossos
                    direitos, privacidade, segurança ou propriedade; ou (v) para fazer cumprir os termos de qualquer
                    acordo ou os termos do nosso site e serviços, conforme a legislação vigente.
                    <ul>
                        <li><strong>Motivo para uso dos seus dados pessoais nessa situação:</strong>
                            <ul>
                                <li>Obrigações legais;</li>
                                <li>Nossos interesses legítimos;</li>
                            </ul>
                        </li>
                        <li><strong>Nossos interesses legítimos nessa situação:</strong>
                            <ul>
                                <li>Proteger nossos sistemas, bens e colaboradores.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p><span style="color: #6b56a5;"><strong>Sobre a divulgação de seus Dados Pessoais</strong></span></p>
        </article>
    </div>
</section>