<section class="clientes mt-80 pb-40">
  <div class="container p-l-40-touch p-r-40-touch">
    <p class="is-size-1 is-fullwidth is-uppercase pb-8">Nossos clientes</p>
    <h3 class="has-color-orange is-uppercase is-size-5 is-size-4-touch m-b-40">
      Conheça quem já <br>trabalhou com a gente.
    </h3>
  </div>
  <div class="is-relative">
    <div class="container p-l-0-touch p-r-0-touch is-centered slider-container" style="z-index: 1;">
      <div class="slider-clientes" data-clientes-slider="">
        <div class="column">
          <picture>
            <source srcset="/img/cliente-yara.png" media="(min-width: 800px)">
            <img src="/img/cliente-yara@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-assai.png" media="(min-width: 800px)">
            <img src="/img/cliente-assai@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-africa.png" media="(min-width: 800px)">
            <img src="/img/cliente-africa@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-braskem.png" media="(min-width: 800px)">
            <img src="/img/cliente-braskem@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-edp.png" media="(min-width: 800px)">
            <img src="/img/cliente-edp@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-itau.png" media="(min-width: 800px)">
            <img src="/img/cliente-itau@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-arcelor-mittal.png" media="(min-width: 800px)">
            <img src="/img/cliente-arcelor-mittal@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-john-deere.png" media="(min-width: 800px)">
            <img src="/img/cliente-john-deere@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-ambev.png" media="(min-width: 800px)">
            <img src="/img/cliente-ambev@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-chubb.png" media="(min-width: 800px)">
            <img src="/img/cliente-chubb@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-avanade.png" media="(min-width: 800px)">
            <img src="/img/cliente-avanade@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-skol.png" media="(min-width: 800px)">
            <img src="/img/cliente-skol@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-kpmg.png" media="(min-width: 800px)">
            <img src="/img/cliente-kpmg@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-ocyan.png" media="(min-width: 800px)">
            <img src="/img/cliente-ocyan@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-siemens.png" media="(min-width: 800px)">
            <img src="/img/cliente-siemens@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-boticario.png" media="(min-width: 800px)">
            <img src="/img/cliente-boticario@2x.png" />
          </picture>
        </div>
        <div class="column">
          <picture>
            <source srcset="/img/cliente-accor.png" media="(min-width: 800px)">
            <img src="/img/cliente-accor@2x.png" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>