<section class="page-header base-page page-contato m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <h1>Contato</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <h2 class="p-b-20 p-t-20">Quer saber como podemos ajudar a sua empresa? Fale conosco.</h2>
            <p class="post-info p-b-80 m-t-20">Escreva sua mensagem ao lado ou utilize os canais de comunicação para falar conosco</p>
        </article>
        <article class="contato-content m-t-80 is-flex">            
            <div>
                <p>Av. Angélica, 2163, conj. 61 </p>
                <p>CEP: 01311-300 – São Paulo, SP.</p>
                <p>contato@maisdiversidade.com.br</p>
            </div>
            <div>
                <form>
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" />
                    <label for="email" class="m-t-20">E-mail</label>
                    <input type="text" id="email" />
                    <label for="empresa" class="m-t-20">Empresa</label>
                    <input type="text" id="empresa" />
                    <label for="telefone" class="m-t-20">Telefone</label>
                    <input type="text" id="telefone" />
                    <label for="servico" class="m-t-20">Selecione um serviço</label>                    
                    <select id="servico">
                        <option>Consultoria em comunicação para diversidade</option>
                        <option>Treinamentos em diversidade e inclusão</option>
                        <option>Consultoria em diversidade e inclusão</option>
                    </select>
                    <label for="mensagem" class="m-t-20">Mensagem</label>
                    <textarea id="mensagem"></textarea>
                     <button class="button is-size-1 is-secondary is-small m-t-20">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">Enviar</span>
                    </button>
                </form>
            </div>
        </article>
    </div>    
</section>