<section class="depoimentos mt-80 pb-40">
  <div class="container p-l-40-touch p-r-40-touch">
    <div class="depoimentos-title">
      <h3 class="has-color-orange is-uppercase is-size-5 is-size-4-touch m-b-40">
        O que dizem <br class="is-hidden-desktop">sobre nós
      </h3>
    </div>
  </div>
  <div class="container p-l-0-touch p-r-0-touch">
    <div class="slider-depoimentos" data-depoimentos-slider="">
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“Desde 2018 contamos com a consultoria da Mais Diversidade em nosso Programa de Diversidade e Inclusao. Trabalhar com a Mais Diversidade nesses 3 anos tem sido um grande aprendizado, eles trazem de forma leve um assunto que é tão subjetivo e ao mesmo tempo de extrema relevância para a sociedade e naturalmente para as grandes corporações. Ao longo desse período criamos uma ótima sinergia que nos ajudou a solidificar o projeto de forma propositiva. Obrigada pela parceria e pelo excelente trabalho.”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Vice Presidente de RH da Chubb Brasil</small>
            <strong class="has-color-white">Carla Jacarini</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“A Mais Diversidade contribuiu para a imersão da EDPR no tema diversidade. Foram encontros prazerosos que propiciaram muito conhecimento e reflexão! Agradecemos a humanização e delicadeza ao abordarem os temas conosco!”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Recursos Humanos da EDP Renovaveis Brasil</small>
            <strong class="has-color-white">Maia Teixeira</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“Implantamos o Programa de Diversidade & Inclusão em um contexto muito desafiador: ano de Pandemia, com público técnico e no modelo virtual. O resultado foi surpreendentemente positivo e superou as nossas expectativas! Agradeço a Elaine Terceiro e Ricardo Sales pela leveza em conduzir temas complexos de forma estratégica e muito cuidadosa. “</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Gerente de Pessoas da Santo Antônio Energia. S.A.</small>
            <strong class="has-color-white">Michele Spolador</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>"Contamos com o apoio da Mais Diversidade desde o início do Programa no PAN, tendo como diferencial a qualidade, embasamento e profundidade dos conteúdos de conscientização aplicados para todos os níveis da organização." </p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Gerente Executiva de Pessoas no Banco PAN</small>
            <strong class="has-color-white">Letícia Toledo</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“Agradeço a parceria com a equipe da Mais Diversidade que contribui fortemente com a implantação do Programa de Diversidade e Inclusão na Santo Antônio Energia.   Elaine Terceiro e Ricardo Sales nos apoiaram em todo processo de transformação da companhia, trabalhando o tema com profundidade, responsabilidade e leveza para promoção de um ambiente mais maduro, diverso e respeitoso!”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Analista de Recursos Humanos na Santo Antônio Energia</small>
            <strong class="has-color-white">Batista</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“A Mais Diversidade é para a Novo Nordisk Prod. Farm. Do Brasil uma referência em Diversidade e Inclusão e tem sido um parceiro fundamental para fortalecer a nossa cultura inclusiva e nos guiar na estratégia, etapas e boas práticas nesta jornada. Seu portfólio amplo, seriedade e competência dos profissionais são contribuidores da credibilidade que vem sendo construída nesta parceria.”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">HR Manager Novo Nordisk</small>
            <strong class="has-color-white">M. Cecília N. Klassmann M</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“Com profundo conhecimento técnico, sensibilidade e visão estratégica a Mais Diversidade nos apoia na construção da agenda de D&I no Itaú. Destacaria a parceria no programa de trainee 2021, desde a busca de talentos até a capacitação para a liderança durante a seleção. Todos esses esforços foram essenciais para os ótimos resultados alcançados.”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Chief People Officer Itaú Unibanco</small>
            <strong class="has-color-white">Sergio Guillinet Fajerman</strong>
          </div>
        </div>
      </div>
      <div class="depoimentos-item">
        <div class="depoimentos-info is-size-1">
          <div>
            <p>“Nossa parceria com a Mais Diversidade começou em 2020 e mesmo diante do cenário de tantas incertezas conseguimos estruturar ações importantes. Nossa jornada pela inclusão continua e encontrar parceiros com a sensibilidade, propriedade e paixão por esse propósito é essencial para seguirmos avançando.”</p>
          </div>
          <div>
            <small class="is-uppercase has-color-white">Gerente de Atração, Seleção e Diversidade do Hospital Albert Einstein</small>
            <strong class="has-color-white">Priscila Sampaio</strong>
          </div>
        </div>
      </div>
  </div>
</section>