<section class="page-header ebooks m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>CONTEÚDOS</p>
            <h1>EBOOKS</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="ebooks-grid m-b-80">
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Saúde mental em tempos de quarentena</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ebooks-item">
                    <div class="ebook-cover" style="background-image: url('/img/video-thumb.jpg');">

                    </div>
                    <div>
                        <div>
                            <em>06/06</em>
                            <h4>eBook</h4>
                            <p>Nome do ebook</p>
                        </div>
                        <div>
                            <a class="ebook-btn gtm_ebook" data-analyticslabel="title of ebook">
                                <span>Download</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>           
        </article>
    </div>    
</section>