<section class="equipe mt-80 pb-40" id="equipe">
  <div class="container p-l-40-touch p-r-40-touch">
    <div class="equipe-title">
      <p class="is-size-1 is-fullwidth is-uppercase pb-8">Equipe Mais Diversidade</p>
      <h3 class="has-color-orange is-uppercase is-size-5 is-size-4-touch m-b-40">
        Conheça a <br class="is-hidden-desktop">nossa equipe
      </h3>
    </div>
  </div>
  <div class="container p-l-0-touch p-r-0-touch">
    <div class="slider-equipe" data-equipe-slider="">
      <div class="equipe-item">
        <div>
          <img src="/img/Amanda-Aragao.jpeg">
          <div class="equipe-info is-size-1">
            <small class="is-uppercase has-color-white">Sócio</small>
            <strong class="has-color-white">Ricardo Sales</strong>
          </div>
          <div class="equipe-bio">
            Where can I get some?<br/><br/>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </div>
      </div>
      <div class="equipe-item">
        <div>
          <img src="/img/equipe-02.jpg">
          <div class="equipe-info is-size-1">
            <small class="is-uppercase has-color-white">Sócio</small>
            <strong class="has-color-white">Ricardo Sales</strong>
          </div>        
          <div class="equipe-bio">
            Where can I get some?<br/><br/>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </div>
      </div>
      <div class="equipe-item">
        <div>
          <img src="/img/equipe-03.jpg">
          <div class="equipe-info is-size-1">
            <small class="is-uppercase has-color-white">Sócio</small>
            <strong class="has-color-white">Ricardo Sales</strong>
          </div>
          <div class="equipe-bio">
            Where can I get some?<br/><br/>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </div>     
      </div>
      <div class="equipe-item">
        <div>
          <img src="/img/equipe-03.jpg">
          <div class="equipe-info is-size-1">
            <small class="is-uppercase has-color-white">Sócio</small>
            <strong class="has-color-white">Ricardo Sales</strong>
          </div>
          <div class="equipe-bio">
            Where can I get some?<br/><br/>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </div>     
      </div>
      <div class="equipe-item">
        <div>
          <img src="/img/equipe-03.jpg">
          <div class="equipe-info is-size-1">
            <small class="is-uppercase has-color-white">Sócio</small>
            <strong class="has-color-white">Ricardo Sales</strong>
          </div>
          <div class="equipe-bio">
            Where can I get some?<br/><br/>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </div>
        </div>     
      </div>
    </div>
  </section>
</div>