<footer class="m-t-48">
  <div class="container box-purple">
    <div class="columns is-block-touch is-flex-fullhd">
      <div class="column">
        <h4 class="is-size-3 is-size-4-touch is-uppercase has-color-orange m-b-32">
          <strong>Vamos <br class="is-hidden-mobile">conversar?</strong>
        </h4>
        <div class="contact-content">
          <a href="https://api.whatsapp.com/send?phone=5511971058989" class="is-size-1 has-color-white gtm_whatsapp" target="_blank">
            <span>Fale via Whatsapp</span>
            <img src="../../img/icon-whatsapp.svg">
          </a>
          <a href="" class="is-size-1 has-color-white gtm_email">
            <span>Entre em contato</span>
            <img src="../../img/icon-mail.svg">
          </a>
          <a href="" class="is-size-1 has-color-white policy">Política de Privacidade</a>
        </div>
      </div>
      <div class="column">
        <h4 class="title-newsletter is-uppercase has-color-white">
          <strong>Inscreva-se e receba novidades no seu e-mail.</strong>
        </h4>
        <div class="field is-vertical m-t-32 m-t-24-touch">
          <input type="email" placeholder="Digite seu e-mail aqui" class="input m-b-32 is-small">
          <a href="" type="button" class="button is-size-1 is-secondary is-small more">
            <img src="/img/bt-menos.svg" class="icon-left">
            <span class="is-fullwidth is-flex">ENVIAR</span>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="team">
          <h4 class="title-team is-uppercase has-color-white m-b-32 m-b-16-touch">
            <strong>Entre para o time</strong>
          </h4>
          <p class="m-b-20">Faça parte da nossa <br class="is-hidden-mobile">equipe Mais Diversidade.</p>
          <a href="" class="is-uppercase has-color-white has-text-underline">
            <strong>Saiba mais</strong>
          </a>
        </div>
      </div>
      <div class="column nav-social">
        <div class="nav-footer is-hidden">
          <div>
            <a href="" class="is-size-1 is-uppercase">Início</a>
            <a href="/about" class="is-size-1 is-uppercase">Sobre Nós</a>
            <a href="" class="is-size-1 is-uppercase">O Que Fazemos</a>
            <a href="" class="is-size-1 is-uppercase">Conteúdos</a>
          </div>
          <div class="right">
            <a href="" class="is-size-1 is-uppercase">Projetos</a>
            <a href="" class="is-size-1 is-uppercase">Instituto</a>
            <a href="" class="is-size-1 is-uppercase">Contato</a>
          </div>
        </div>
        <h4 class="is-size-2 is-uppercase has-color-white m-t-0 m-b-32">
          <strong>Acompanhe</strong>
        </h4>
        <div class="social-icons is-flex">
          <a href="" target="_blank"><img src="../../img/icon-facebook.svg" alt="Acompanhe no Facebook"></a>
          <a href="" target="_blank"><img src="../../img/icon-twitter.svg" alt="Acompanhe no Twitter"></a>
          <a href="" target="_blank"><img src="../../img/icon-linkedin.svg" alt="Acompanhe no LinkedIn"></a>
          <a href="" target="_blank"><img src="../../img/icon-instagram.svg" alt="Acompanhe no Instagram"></a>
        </div>
        <h4 class="is-size-2 is-uppercase has-color-white m-t-40 m-b-32">
          <strong>PARCERIAS</strong>
        </h4>
        <img src="../../img/selo-amigo-do-surdo-laranja-redondo-maya.png" class="img-stamp">
      </div>
    </div>
  </div>
  <div class="container copyright m-t-32 m-t-32-touch p-b-16">
    <div class="level">
      <div class="level-left">
        <p class="has-color-purple"><small>&copy; 2020 Mais Diversidade <span class="is-hidden-touch">-</span> <br class="is-hidden-desktop">Todos os direitos reservados</small></p>
      </div>
      <div class="level-right">
        <div class="is-inline-block m-r-16-desktop">
          <a href="" class="is-size-1 has-color-purple">Política de Privacidade</a>
        </div>
        <div class="is-inline-block m-r-16-desktop">
          <a href="" class="is-size-1 has-color-purple">Termos de Uso</a>
        </div>
      </div>
    </div>
  </div>
</footer>