<section class="hero">
  <div data-hero-slider="" class="slider is-fullwidth">
    <div class="items">
      <picture class="banner-image">
        <source media="(max-width: 480px)" srcset="/img/foto-destaque-mobile.png">
        <source media="(max-width: 786px)" srcset="/img/foto-destaque-inverso.png">
        <img src="/img/foto-destaque-inverso.png" class="banner-image">
      </picture>
      <div class="information">
        <div class="container is-fullheight p-0">
          <div class="columns is-vcentered">
            <div class="column is-7 p-t-72 p-r-48">
              <h1 class="hero-title">+Diversidade e inclusão na sua empresa.</h1>
              <p class="hero-description">
                Conte com a gente para ajudar a sua empresa crescer a partir
                da valorização da diversidade e da inclusão de diferentes públicos.
              </p>
              <a href="" class="button is-size-1 is-secondary is-medium">
                <img src="/img/bt-menos.svg" class="icon-svg">
                <span class="is-flex is-uppercase p-r-8">Saiba mais</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items">
      <picture class="banner-image">
        <source media="(max-width: 480px)" srcset="/img/foto-destaque-mobile.png">
        <source media="(max-width: 786px)" srcset="/img/foto-destaque-inverso.png">
        <img src="/img/foto-destaque-inverso.png" class="banner-image">
      </picture>
      <div class="information">
        <div class="container is-fullheight p-0">
          <div class="columns is-vcentered">
            <div class="column is-7 p-t-72 p-r-48">
              <h1 class="hero-title">+Diversidade e inclusão na sua empresa.</h1>
              <p class="hero-description">
                Conte com a gente para ajudar a sua empresa crescer a partir
                da valorização da diversidade e da inclusão de diferentes públicos.
              </p>
              <a href="" class="button is-size-1 is-secondary is-medium">
                <img src="/img/bt-menos.svg" class="icon-svg">
                <span class="is-flex is-uppercase p-r-8">Saiba mais</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items" style="background: #5CB6BE;">
      <div class="information">
        <div class="container is-fullheight p-0">
          <div class="columns is-vcentered">
            <div class="column is-7 p-t-72 p-r-48">
              <h1 class="hero-title">+Diversidade e inclusão na sua empresa.</h1>
              <p class="hero-description">
                Conte com a gente para ajudar a sua empresa crescer a partir
                da valorização da diversidade e da inclusão de diferentes públicos.
              </p>
              <a href="" class="button is-size-1 is-secondary is-medium">
                <img src="/img/bt-menos.svg" class="icon-svg">
                <span class="is-flex is-uppercase p-r-8">Saiba mais</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>