<section class="page-header na-midia m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>CONTEÚDOS</p>
            <h1>Na mídia</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="na-midia-grid m-b-80">
                <div class="na-midia-item">
                    <h2>Globo</h2>
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro”
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">
                    <h2>Aupa</h2>
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro” 
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro”
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro” 
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro”
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro” 
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro”
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
                <div class="na-midia-item">                    
                    <p>
                       Ricardo Sales: “Nunca se falou tanto em diversidade no meio empresarial brasileiro” 
                    </p>
                    <a href="#" class="button is-size-1 is-secondary is-small m-t-40 m-b-80">
                        <img src="/img/bt-menos.svg" class="m-r-8">
                        <span class="is-fullwidth is-flex is-uppercase p-r-8">LEIA A MATÉRIA</span>
                    </a>
                </div>
            </div>           
        </article>
    </div>    
</section>