<section class="page-header o-que-fazemos-consultoria m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>O QUE FAZEMOS</p>
            <h1>consultoria em diversidade e inclusão</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="o-que-fazemos-consultoria-text">
                <div>
                    <p>
                        Diversidade é um dos assuntos mais destacados do momento no mundo empresarial. Pesquisas apontam que organizações que oferecem ambientes realmente inclusivos são mais criativas, inovadoras, têm clima melhor e sofrem menos com problemas como baixo engajamento, absenteísmo ou turnover.
                    </p>
                    <p>
                        A Mais Diversidade soma a expertise de mercado a sólido conhecimento acadêmico para oferecer consultoria na elaboração, acompanhamento e avaliação de políticas e práticas de diversidade e inclusão no ambiente de trabalho.
                    </p>
                    <p>
                        Nossa metodologia de atuação está ancorada no desenvolvimento de sistemas de governança, planejamento estratégico, mapeamento de desafios e oportunidades, além de desenho de metas e indicadores de desempenho em diversidade e inclusão.
                    </p>
                    <p>
                        Partindo de pesquisas ou necessidades identiﬁcadas pelas organizações, traçamos estratégias para contratação, desenvolvimento e retenção de talentos como grupos de pessoas negras, mulheres, LGBTI+, com deﬁciências, entre outros.
                    </p>
                    <p>
                        Um diferencial da nossa atuação é a visão global da empresa, estimulando a sinergia entre áreas como Comunicação, Recursos Humanos, Sustentabilidade, entre outras.
                    </p>
                </div>
                <div>
                    <img src="img/icon-consultoria-diversidade.svg" alt="O que fazemos?"/>
                </div>
            </div>
            <a href="/contato" class="button is-size-1 is-secondary is-small m-t-40 m-b-80">
              <img src="/img/bt-menos.svg" class="m-r-8">
              <span class="is-fullwidth is-flex is-uppercase p-r-8">fale conosco para saber mais</span>
            </a>
        </article>
    </div>    
</section>