<section class="page-header o-que-fazemos-treinamentos m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>O QUE FAZEMOS</p>
            <h1>treinamentos em diversidade e inclusão</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="o-que-fazemos-treinamentos-text m-b-80">
              <p>
                  Capacitar as pessoas é uma passo fundamental para o sucesso das iniciativas de diversidade e inclusão. A Mais Diversidade oferece oficinas, treinamentos e workshops customizados para os mais diversos públicos, de equipes operacionais a times de liderança.
              </p>
              <p>
                  Os temas e os formatos são definidos em parceria com o cliente, após identificação das necessidade da empresa. São exemplos de assuntos abordados:
              </p>
            </div>            
        </article>
    </div>    
</section>
{{> trilhas-inicial}}
{{> trilhas-aprofundamento}}
{{> trilhas-lideranca}}
<section class="page-header o-que-fazemos-treinamentos m-b-80">    
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="o-que-fazemos-treinamentos-text m-b-80">
                <h4>Palestras</h4>
                <p>
                    Mais de 50.000 pessoas já assistiram as palestras de Ricardo Sales. Com sólida formação acadêmica e grande experiência profissional, Ricardo é referência internacional nos temas Diversidade e Inclusão.
                </p>
                <p>
                    Suas palestras são a pedida ideal para o lançamento de iniciativas de diversidade, eventos com a liderança, town hall meetings, comemorações de resultados, reuniões de planejamento, SIPAT, semana de diversidade, entre outras ocasiões.
                </p>
                <a href="/contato" class="button is-size-1 is-secondary is-small m-t-40 m-b-80">
                    <img src="/img/bt-menos.svg" class="m-r-8">
                    <span class="is-fullwidth is-flex is-uppercase p-r-8">fale conosco para saber mais</span>
                </a>
            </div>            
        </article>
    </div>    
</section>