<section class="page-header o-que-fazemos-curadoria m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>O QUE FAZEMOS</p>
            <h1>Curadoria de Talentos Diversos</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="o-que-fazemos-curadoria-text m-b-80">
                <h4>Para as empresas</h4>
                <div class="content">
                    <div>                    
                        <p>
                            A Mais Diversidade auxilia as empresas a encontrar candidatos com perfis diversos para posições de liderança, como coordenação, gerência, diretoria, vice-presidência, presidência e conselho. Esses cargos poucas vezes são preenchidos por mulheres, pessoas negras, LGBTIs ou com deficiência.
                        </p>
                        <p>
                            Diversidade na liderança é uma curadoria de talentos diversos. Nós identificamos profissionais capacitados para participar dos processos seletivos para vagas de liderança.
                        </p>
                        <p>
                            Quer saber como podemos ajudar na sua estratégia de talentos? Clique aqui.
                        </p>
                    </div>  
                    <div>
                        <img src="img/icon-consultoria-diversidade.svg" alt="O que fazemos?"/>
                    </div>
                </div>
            </div>
            <div class="o-que-fazemos-curadoria-text m-b-80">
                <h4>Para você</h4>
                <div class="content">
                    <div>
                        <p>
                            As empresas contratantes recebem em seus processos seletivos um pool de candidatos altamente capacitados e representativos da diversidade existente na sociedade brasileira.
                        </p>
                        <p>
                            Quer saber como podemos ajudar na sua estratégia de talentos? Clique aqui. 
                        </p>
                        <p>
                            Se você é um profissional negro, com deficiência, LGBTI+ ou mulher em áreas como engenharia, logística, tecnologia entre outras, clique no botão abaixo para fazer parte do nosso banco de talentos:
                        </p>
                    </div>  
                    <div>
                        <img src="img/icon-consultoria-diversidade.svg" alt="O que fazemos?"/>
                    </div>
                </div>
            </div>
            <a href="#" class="button is-size-1 is-secondary is-small m-t-40 m-b-80">
                <img src="/img/bt-menos.svg" class="m-r-8">
                <span class="is-fullwidth is-flex is-uppercase p-r-8">FAÇA PARTE DO BANCO DE TALENTOS</span>
            </a>
        </article>
    </div>    
</section>