<section class="page-header podcasts-page m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>PODCAST</p>
            <h1>+Diversitalk</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut ligula nec lacus vulputate molestie. Aliquam erat volutpat. Donec at placerat metus. Maecenas eget quam eu neque porttitor auctor eu id magna. Nam suscipit volutpat dolor, quis tincidunt ante convallis in. Praesent porttitor, ipsum et efficitur fermentum, lacus erat sollicitudin est, eget pellentesque nunc eros in felis. Donec suscipit hendrerit orci vel porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec molestie, enim rhoncus ullamcorper varius, sem quam suscipit mauris, sit amet sollicitudin justo ipsum at tortor. Fusce porta nulla id nisi posuere, vel sollicitudin nibh faucibus. Vivamus dapibus ipsum non mauris consectetur, in eleifend nibh pulvinar. Suspendisse egestas magna sit amet nisl bibendum, at ultricies risus elementum. Donec consectetur malesuada orci, et finibus nibh hendrerit non.
            </p>
            <p>
                Quisque luctus cursus lorem. Suspendisse bibendum dolor orci, sit amet consequat tortor aliquam tincidunt. Nam sed arcu nec lectus convallis cursus. Fusce ut dui maximus, fermentum ipsum eu, lobortis diam. Aenean euismod et magna at molestie. Suspendisse ac placerat leo. Cras sit amet ipsum turpis. Sed at imperdiet purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan dui justo, a tincidunt ligula tempor ut.
            </p>
            <div class="podcasts-page">
                <iframe src="https://open.spotify.com/embed-podcast/show/2IkCW4B5q5PG0Ou9BiGGQf" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>            
        </article>
    </div>    
</section>