<section class="podcast m-t-40 p-b-40 m-t-20-touch p-b-20-touch">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12-touch is-7-tablet is-8-fullhd">
        <div class="podcast-form is-flex">
          <div>
            <h3 class="podcast-title m-b-16 is-size-4-touch is-size-7 lh-1 is-uppercase">Podcast<br>+Diversitalk</h3>
            <p class="m-b-24">Ouça episódios anteriores e inscreva seu e-mail para receber novidades.</p>
          </div>
          <div class="field is-horizontal m-t-20-touch">
            <input type="email" placeholder="Digite seu e-mail" class="input is-small">
            <button type="button" class="button is-size-1 is-primary is-small">
              <img src="/img/bt-menos.svg" class="m-l-16 m-l-0-touch">
              <span class="is-fullwidth is-flex is-uppercase is-hidden-mobile">Enviar</span>
            </button>
          </div>
          <p class="is-size-2 is-fullwidth p-t-24-touch p-b-8-touch is-hidden">Inscrição realizada com sucesso!</p>
        </div>
      </div>
      <div class="column more-talks is-12-touch is-5-tablet is-4-fullhd m-t-16-touch">
        <div class="columns is-full">
          <div class="column p-l-32-touch p-r-32-touch">
            <a href="#" class="talk-link m-b-8">
              <img src="../../img/talk-1.jpg" alt="" class="talk-image">
              <div class="talk-description">
                <p class="is-size-1 has-color-gray is-fullwidth m-b-4">06/06</p>
                <p class="talk-title has-font-weight-bold has-text-orange m-b-4">+Diversitalk</p>
                <p class="has-font-weight-bold m-b-12">Podcast: Ligia Zotini Novas mudanças.</p>
                <p class="podcast-length is-size-1 is-fullwidth has-color-gray">1h30min</p>
              </div>
            </a>
          </div>
        </div>
        <div class="columns is-full">
          <div class="column p-l-32-touch p-r-32-touch">
            <a href="#" class="talk-link m-b-8">
              <img src="../../img/talk-2.jpg" alt="" class="talk-image">
              <div class="talk-description">
                <p class="is-size-1 has-color-gray is-fullwidth m-b-4">06/06</p>
                <p class="talk-title has-font-weight-bold has-text-orange m-b-4">+Diversitalk</p>
                <p class="has-font-weight-bold m-b-12">Podcast: Empreendedorismo, Diversidade e Inclusão com Ana Fontes</p>
                <p class="podcast-length is-size-1 is-fullwidth has-color-gray">1h30min</p>
              </div>
            </a>
          </div>
        </div>
        <div class="columns more-action">
          <div class="column p-l-32-touch p-r-32-touch">
            <a href="" class="button is-size-1 is-secondary is-small">
              <img src="/img/bt-menos.svg" class="m-r-8">
              <span class="is-fullwidth is-flex is-uppercase p-r-8">Ver todos os podcasts</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>