<section class="page-header base-page page-post m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>Conteúdos</p>
            <h1>Artigos</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="category-list post-info">DIVERSIDADE, Inclusão</div>
            <h2 class="p-b-20 p-t-20">Como aumentar a diversidade em cargos de liderança?</h2>
            <p class="post-date post-info p-b-80">Publicado em 15 de abril de 2019 no LinkedIn por Ricardo Sales</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed vestibulum leo. Etiam vestibulum lectus sit amet ipsum tincidunt, ut lobortis justo efficitur. Etiam ultrices leo aliquam urna posuere fringilla. Cras quis feugiat ipsum, et cursus orci. Vivamus consequat tellus velit, ut laoreet magna mollis eleifend. Proin magna sem, dignissim at auctor eget, aliquet in ante. Duis laoreet ullamcorper dignissim. Vivamus eleifend pretium accumsan. Duis ut justo posuere orci vehicula cursus at sit amet urna.
            </p>
            <p>
                Vivamus accumsan sollicitudin placerat. Sed quis tellus sed lacus tristique placerat at blandit turpis. Nullam nec justo at lacus egestas dictum. Praesent augue purus, convallis id lectus a, imperdiet commodo magna. Suspendisse eget hendrerit ante, eget gravida nisi. Nullam at hendrerit augue, ut malesuada nunc. Fusce sagittis egestas tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit feugiat magna, eu vestibulum libero convallis in. Donec vel tellus in turpis venenatis elementum eget sit amet massa. Maecenas vulputate, risus ac aliquet ornare, urna tortor rhoncus elit, vitae rutrum justo nisl ac quam. In sem odio, varius non mi a, tincidunt facilisis purus. Integer dapibus imperdiet magna id scelerisque.
            </p>            
        </article>
        <div class="related-posts p-t-40">
            <div>
                <a href="" class="button is-size-1 is-secondary is-small">
                    <img src="/img/bt-menos.svg" class="m-r-8">
                    <span class="is-fullwidth is-flex is-uppercase p-r-8">FAÇA O TESTE DO PESCOÇO E DESCUBRA SE SUA EMPRESA É INCLUSIVA</span>
                </a>
            </div>
            <div>
                <a href="" class="button is-size-1 is-secondary is-small">
                    <img src="/img/bt-menos.svg" class="m-r-8">
                    <span class="is-fullwidth is-flex is-uppercase p-r-8">O que são os vieses inconscientes e como eles prejudicam sua carreira</span>
                </a>
            </div>
        </div>
    </div>    
</section>