<section class="page-header base-page page-posts m-b-80">
    <div class="page-header-title">
        <div class="container p-l-0 p-r-0">
            <p>Conteúdos</p>
            <h1>Artigos</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <div>
            <article class="page-content">
                <div class="category-list post-info">DIVERSIDADE, Inclusão</div>
                <a href="#"><h2 class="p-b-20 p-t-20">Como aumentar a diversidade em cargos de liderança?</h2></a>
                <p class="post-date post-info">Publicado em 15 de abril de 2019 no LinkedIn por Ricardo Sales</p>
                <hr/>
            </article>
            <article class="page-content">
                <div class="category-list post-info">DIVERSIDADE, Inclusão</div>
                <a href="#"><h2 class="p-b-20 p-t-20">Como aumentar a diversidade em cargos de liderança?</h2></a>
                <p class="post-date post-info">Publicado em 15 de abril de 2019 no LinkedIn por Ricardo Sales</p>
                <hr/>
            </article>
            <article class="page-content">
                <div class="category-list post-info">DIVERSIDADE, Inclusão</div>
                <a href="#"><h2 class="p-b-20 p-t-20">Como aumentar a diversidade em cargos de liderança?</h2></a>
                <p class="post-date post-info">Publicado em 15 de abril de 2019 no LinkedIn por Ricardo Sales</p>
                <hr/>
            </article>
            <article class="page-content">
                <div class="category-list post-info">DIVERSIDADE, Inclusão</div>
                <a href="#"><h2 class="p-b-20 p-t-20">Como aumentar a diversidade em cargos de liderança?</h2></a>
                <p class="post-date post-info">Publicado em 15 de abril de 2019 no LinkedIn por Ricardo Sales</p>
                <hr/>
            </article>
        </div>
        <div class="related-posts p-t-40">
            <div>
                <a href="" class="button is-size-1 is-secondary is-small">
                    <img src="/img/bt-menos.svg" class="m-r-8">
                    <span class="is-fullwidth is-flex is-uppercase p-r-8">Mais<br />antiga</span>
                </a>
            </div>
            <div>
                <a href="" class="button is-size-1 is-secondary is-small">
                    <img src="/img/bt-menos.svg" class="m-r-8">
                    <span class="is-fullwidth is-flex is-uppercase p-r-8">Mais<br /> atuais</span>
                </a>
            </div>
        </div>
    </div>
</section>