<section class="servicos is-flex">
  <div class="container p-0">
    <div class="columns content">
      <div class="column is-6">
        <p class="is-size-1 is-fullwidth m-0">SERVIÇOS</p>
        <h3 class="has-color-orange is-uppercase is-size-5 m-0 p-t-24 p-t-16-touch">
          Conheça a seguir um pouco <br class="is-hidden-mobile">mais sobre o nosso trabalho
        </h3>
      </div>
      <div class="column is-6">
        <p class="title-description is-size-1 p-t-48 p-t-0-touch p-b-48-touch">
          Se preferir, entre em contato para saber <br>como podemos ajudar sua empresa.
        </p>
        <a class="title-action is-size-1 is-uppercase has-color-purple has-font-weight-bold">Carta de serviços</a>
      </div>
      {{!-- <div class="column is-12 p-t-80-touch is-hidden-tablet">
        <img src="/img/scroll.svg" class="scroll" />
      </div> --}}
    </div>

    <div class="slider">
      <div data-services-slider="" class="columns is-multiline">
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-consultoria.svg" alt="Consultoria em Diversidade e Inclusão">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Consultoria em Diversidade e Inclusão</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Consultoria estratégica para transformar sua empresa numa campeã em diversidade e inclusão.
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-treinamentos.svg" alt="Treinamentos, workshops e palestras">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Treinamentos, workshops e palestras</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Capacitação em diversidade e inclusão para todos os públicos, dos times operacionais à alta liderança.
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-curadoria.svg" alt="Curadoria de Talentos">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Curadoria de Talentos</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Programas de estágio, trainee e hunting com olhar de diversidade e inclusão.
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-censos.svg" alt="Censos, pesquisas e benchmark">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Censos, pesquisas e benchmark</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Dados para assegurar a tomada de melhores decisões
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-comunicacao.svg" alt="Comunicação para a diversidade">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Comunicação para a diversidade</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Apoio a marcas, agências e equipes de publicidade ou comunicação interna.
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
        <div class="column is-6-tablet is-4-fullhd items">
          <div class="service-card">
            <a href="" class="card-link">
              <img class="card-icon" src="../../img/icon-atendimento.svg" alt="Atendimento PME">
              <p class="card-description-subtitle is-size-3 mt-24 mb-12">
                <strong>Atendimento PME</strong>
              </p>
              <p class="card-description-text mt-24 mb-24">
                Suporte integral para quem é pequeno na estrutura, mas gigante no potencial.
              </p>
              <span class="card-action is-uppercase">Saiba mais</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>