<section class="page-header quem-somos m-b-80">
    <div class="page-header-title">
        <div class="container">
            <h1>SOBRE NÓS</h1>
        </div>
    </div>
    <div class="container p-l-0 p-r-0">
        <article class="page-content">
            <div class="quem-somos-text">
                <h2 class="has-color-orange m-b-80">Diversidade é um dos assuntos do momento no mundo empresarial.</h2>
                <p>
                    A Mais Diversidade soma a expertise de mercado a sólido conhecimento acadêmico para oferecer consultoria na elaboração, acompanhamento e avaliação de políticas de diversidade no ambiente de trabalho. Partindo de pesquisas ou necessidades identificadas pelas organizações, traçamos estratégias para contratação, desenvolvimento e retenção de funcionários representantes de grupos minorizados, como negros, mulheres na liderança, LGBTI+, pessoas com deficiências e outros. O diferencial da nossa atuação é a visão global da empresa, estimulando a sinergia entre Comunicação, Recursos Humanos, Sustentabilidade e outros departamentos da organização.
                </p>
                <h4>Propósito<br/>e valores</h4>
                <p>
                    Nosso propósito é estimular as pessoas a transformarem a sociedade a partir do seu trabalho nas organizações. Essa frase move todas nossas ações. Nós não saímos de casa se não for para transformar o que já existe. Mudar o mundo através de pessoas. Pessoas que lideram, engajam e movimentam organizações.
                </p>
            </div>
            <div class="quem-somos-items">
                <div class="quem-somos-item">
                    <p>Nossos<br />Valores</p>
                </div>
                <div class="quem-somos-item">
                    <p>Alteridade</p>
                </div>
                <div class="quem-somos-item">
                    <p>Confiança</p>
                </div>
                <div class="quem-somos-item">
                    <p>Integridade</p>
                </div>
                <div class="quem-somos-item">
                    <p>Leveza</p>
                </div>
                <div class="quem-somos-item">
                    <p>Responsabilidade</p>
                </div>
            </div>
        </article>
    </div>    
</section>