<section class="trilhas container p-l-0 p-r-0">
    <h2 class="m-b-40 m-t-80">Trilha de Liderança</h2>
    <div class="slider-trilhas purple orange-bg" data-trilhas-slider="">
        <div class="trilhas-item">
            <div class="trilhas-shape" style="background-color: #F17D49">
                <img src="/img/icon-atendimento.svg">
                <h2 class="m-t-40">Vieses inconscientes</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Visa elucidar o que são vieses, os cinco tipos de vieses inconscientes mais comuns, como evita-los para a melhor tomada de decisão em âmbito pessoal e no ambiente organizacional. Abordaremos também a teria de Daniel Kahneman, processo dual de cognição, sistema 1 e 2, e os níveis neurológicos a luz de Robert Dilts e realizamos atividade com cases para identificação de vieses e discussão de resolução.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item">
            <div class="trilhas-shape" style="background-color: #F17D49">
                <img src="/img/icon-atendimento.svg">
                <h2 class="m-t-40">Liderança inclusiva I</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Sensibilização de líderes na gestão de equipe diversas, seu papel na inclusão de pessoas diversas, desenvolvimento de empatia, de suas vulnerabilidades. Vamos promover atividades para resolução de conflitos e dilemas em diversidade e identificação de seu estágio de liderança inclusiva por meio de self assessment prévio e comportamentos da liderança inclusiva. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> a 2h
                </div>
            </div>
        </div>        
        <div class="trilhas-item">
            <div class="trilhas-shape" style="background-color: #F17D49">
                <img src="/img/icon-atendimento.svg">
                <h2 class="m-t-40">Liderança inclusiva II</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    O treinamento de Liderança Inclusiva na Prática visa apoiar gestoras e gestores a aplicar os conceitos de diversidade e inclusão no seu dia a dia, seja na definição de critérios de seleção para uma nova posição, na realização de uma entrevista inclusiva, como também no desenvolvimento de times diversos. Realizamos atividades e simulações que ajudam os participantes a estarem aptos a colocar em prática as mudanças que farão da empresa mais inclusiva e diversa.    
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 3h 
                </div>
            </div>
        </div>        
        <div class="trilhas-item">
            <div class="trilhas-shape" style="background-color: #F17D49">
                <img src="/img/icon-atendimento.svg">
                <h2 class="m-t-40">Mentoria executiva</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    A Mais Diversidade estruturou um programa de mentoria executiva para empresas. Em encontros mensais, nossa equipe apoia gestoras e gestores a terem uma compreensão mais ampla do tema, a entenderem seu papel de influência nesta agenda e desenvolverem as competências imprescindíveis para o que se espera de lideranças inclusivas.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b>4 a 6 sessões individuais de 1h (cada).
                </div>
            </div>
        </div>        
    </div>
</section>