<section class="trilhas container p-l-0 p-r-0">
    <h2 class="m-b-40 m-t-80">Trilha de Aprofundamento</h2>
    <div class="slider-trilhas" data-trilhas-slider="">
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Inclusão além da cota</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Sensibilização dos participantes sobre o tema Pessoa com Deficiência, conhecimento dos indicadores, legislação, terminologias, tipos de deficiência. Dicas práticas para acolher pessoas com deficiência nas equipes e como mitigar o risco de discriminação e vieses inconscientes. Sugestão para roda de conversa/painel com pessoas com deficiência da empresa ao final da apresentação. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m              
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">O papel da pessoa aliada LGBTI+</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Visa sensibilizar os participantes para as questões vivenciadas pela comunidade LGBTI+: sua história, conquistas importantes e desafios cotidianos. É, também, explicada a sigla e conceitos como sexo biológico, orientação sexual, identidade e expressão de gênero. São abordados também os temas de segurança psicológica, como se manifesta a LGBTFobia e como ser um aliado na Pauta LGBT.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Equidade de gênero</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Ampliação do conhecimento de mulheres e homens sobre a origem do movimento pelos direitos das mulheres, cronologia, indicadores sociais e de mercado, conceitos como machismo, feminismo, femismo, síndrome de impostora, o sexismo através das propagandas, caminhos empresariais e melhores práticas organizacionais. Prevemos como atividade a discussão de cases, a depender do tempo.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m 
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Educação antirracista</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Abordagem de conceitos relacionados à pauta racial (racismo, racismo brasileiro x racismos norte-americano, racismo estrutural, racismo reverso, negritude, branquitude, interseccionalidade, alianças). Estão previstas enquetes e dicas de livros, séries e filmes. O objetivo é conscientizar participantes de que o enfrentamento do racismo é papel de toda sociedade, e não apenas da população negra.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Letramento racial</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    A partir de uma viagem histórica, analisamos o período da escravidão e pós-abolição para compreendermos como eles impactam as vidas das pessoas negras ainda hoje: mercado de trabalho, construção da subjetividade, estética e saúde mental. Refletimos sobre o mito da democracia racial e as conquistas em prol da inclusão racial no Brasil. E como o racismo se faz presente nas propagandas, algoritmos, até mesmo em expressões cotidianas. E claro, avaliamos seus impactos para economia e para o desenvolvimento sustentável.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 10 encontros de 1h30m (a ser ajustado pela demanda do cliente)
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Gerações e futuro do trabalho</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Diversidade geracional tem sido considerado um dos temas emergentes na pauta de Diversidade e Inclusão. Considerando aspectos tão amplos quanto a chegada da novíssima Geração Z ao mercado de trabalho até o aumento da expectativa de vida, o assunto tem ganhado espaço na pauta empresarial. Neste treinamento, abordamos as oportunidades que a troca intergeracional oferece, à luz das tendências relacionadas ao futuro do trabalho.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m 
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Espiritualidade nos ambientes de trabalho</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Qual diferença entre religiosidade e espiritualidade? Quais as expressões das religiosidades inclusivas? A  empresa é lugar para expressar crenças? As múltiplas inteligências e a inteligência espiritual. Como uma pessoa com um alto QS (Inteligência Espiritual) pode se sair melhor que uma pessoal com alto QI no mudo VUCA que vivemos? Como posso desenvolver minha Inteligência Espiritual? E o princípio do Amor.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Saúde mental nas organizações</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Cada vez mais empresas, escolas e sociedade têm se conscientizado da importância de falar abertamente sobre os temas que envolvem saúde psicológica e seus estigmas. Teremos um novo componente também: Os efeitos do pós Covid-19, para nosso equilíbrio emocional. No treinamento, abordamos a importância do autocuidado e atenção a sintomas, da necessidade de equilíbrio entre as várias dimensões da vida, de estresse de minorias, além de boas práticas de empresas. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 2h
                </div>
            </div>
        </div>        
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Diversidade no compliance</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Com a maior divulgação do tema D&I e consequente ampliação da consciência dos colaboradores, torna-se mais provável o aumento das manifestações e denúncias nos Canais de Ética das empresas. O objetivo é preparar os times de Ética e Compliance para acolher e tratar essa demandas de diversidade e assim prover insumos ao Comitê de Diversidade, para ações estruturais que visem mitigar novas ocorrências e a educação organizacional.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 2h a 3h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">D&I na cadeia de valores</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Conteúdo que visa a sensibilização de fornecedores em grupos em vulnerabilidade social, a importância da diversidade para pessoas, sociedade e organizações, entendimento sobre igualdade, equidade e privilégios, como se manifestam, os comportamentos preconceituosos e discriminação, formas de abordagem, consequências para a reputação das empresas, com atividades práticas combinadas com a área de segurança do contratante.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Equidade de gênero e violência doméstica</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Visa a sensibilizar a força de trabalho sobre como a violência doméstica é um reflexo da desigualdade de gênero. Apresentando os tipos de violência, formas de enfrentamento, esse treinamento também apresenta os impactos negativos não apenas para as mulheres, mas também para as organizações.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>        
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Direitos humanos, sustentabilidade e diversidade</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    A partir do conceito e das características dos direitos humanos, o treinamento busca demonstrar as conexões desse tema com o de diversidade, provocando ainda reflexões sobre como essas correlações impactam a Agenda de Sustentabilidade na ONU (ODS) e cultura ESG.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Comunicação inclusiva</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Neste treinamento, voltado a equipes de Comunicação, abordamos os fundamentos de diversidade e inclusão aplicados aos diversos processos de comunicação. O treinamento tem um caráter prático e traz exemplos e dicas sobre como realizar uma comunicação mais inclusiva nas diversas frentes, a saber: comunicação institucional, comunicação interna, publicidade, gestão de redes sociais, eventos, employer branding, gestão de crises e relacionamento com a imprensa.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 3h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Formação de porta vozes</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    A formação de porta-vozes é voltada para pessoas que representam a organização institucionalmente ou que realizam falas em eventos (internos ou externos). Neste treinamento abordamos, de forma prática, os fundamentos e conceitos de diversidade e inclusão, assim como formas adequadas de comunicação em cada um dos pilares – gênero, raça, LGBTI+ e pessoas com deficiência. O treinamento contempla exercícios e simulações.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 3h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Rh influenciador</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Possibilita ao time de RH a ampliação do conhecimento em D&I, seu papel de influência estratégica junto às áreas da organização para um ambiente mais diverso. Vamos aprender sobre comunicação inclusiva e gestão de conflitos atrelados à diversidade e realizar exercícios de análise de oportunidades em seus subsistemas (atração, seleção, admissão treinamento, DO, benefícios, remuneração), considerando a inclusão de pessoas diversas. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 3h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Atração e seleção à luz de D&I</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Neste treinamento, voltado a equipes de Atração e Seleção e profissionais de RH que atuem como Business Partners, apresentamos os fundamentos de diversidade e inclusão, bem como as especificidades de profissionais que fazem parte de grupos sub-representados. São compartilhadas, também, dicas e boas práticas relacionadas à cada etapa do processo, a saber: alinhamento com gestor(a), definição de critérios de seleção, divulgação da posição, busca ativa de candidatos, triagem, entrevistas inclusivas, entre outros. O treinamento contempla exercícios e simulações.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 3h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Interseccionalidade</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Visa à compreensão do conceito, a partir da análise de diversas abordagens apresentadas por Kimberley Crenshaw, Angela Davis, Patricia Collins, Lélia Gonzalez e Sueli Carneiro, demonstrando a relevância do tema para visualizarmos a intersecção das diversas discriminações e assim incluirmos a diversidade de forma mais efetiva.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
        <div class="trilhas-item purple">
            <div class="trilhas-shape" style="background-color: #6B56A5">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Meritocracia</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Visa à compreensão do conceito, apresentando sua origem e incluindo o debate sobre cotas e privilégios, além de reflexões sobre o impacto da meritocracia no promoção da diversidade e inclusão. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>
    </div>
</section>