<section class="trilhas container p-l-0 p-r-0">
    <h2 class="m-b-40 m-t-80">Trilha inicial</h2>
    <div class="slider-trilhas" data-trilhas-slider="">
        <div class="trilhas-item light-blue">
            <div class="trilhas-shape" style="background-color: #5cb6be">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">O Valor da Diversidade</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Tem como objetivo a sensibilização sobre grupos em vulnerabilidade social. Destaca a importância da diversidade para pessoas, sociedade e organizações e os resultados da inclusão para os  negócios. Vamos entender sobre igualdade, equidade e privilégios, como se manifestam comportamentos preconceituosos, além dos estágios da diversidade na sociedade
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m <br/>
                    <b>Atividade de interação: </b> Prevista atividade jogo dos privilégios;
                </div>
            </div>
        </div>
        <div class="trilhas-item light-blue">
            <div class="trilhas-shape" style="background-color: #5cb6be">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">Vieses Inconscientes</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Vamos aprender o que são os vieses inconscientes, quais os cinco tipos mais comuns e como evitá-los para a melhor tomada de decisão em âmbito pessoal e no ambiente organizacional. Abordamos também a teoria de Daniel Kahneman, processo dual de cognição, sistema 1 e 2, e os níveis neurológicos à luz de Robert Dilts. Realizamos atividade com cases para identificação de vieses e discussão de resolução. 
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h30m a 2h
                </div>
            </div>
        </div>        
        <div class="trilhas-item light-blue">
            <div class="trilhas-shape" style="background-color: #5cb6be">
                <img src="/img/icon-consultoria.svg">
                <h2 class="m-t-40">O Papel da Pessoa Aliada</h2>
                <span class="card-action is-uppercase">Saiba mais</span>
            </div>
            <div class="trilhas-content">
                <div>
                    Esclarecer e engajar colaboradores para que se tornem pessoas aliadas do programa de diversidade e inclusão da empresa. O objetivo é que contribuam para eliminação de discriminação preconceitos, que eduquem o ambiente à sua volta e sejam uma influência positiva, participando das ações da empresa. O conteúdo conta com parte do Aqui, tratamos também do conceito de Empatia, ajudando a desenvolver habilidade empática, além de comportamentos esperados de uma pessoa aliada.
                    <br />
                    <br />
                    <b>Modalidade: </b> Online <br/>
                    <b>Duração: </b> 1h a 1h30m <br/>
                    <b>Atividade de interação: </b> Prevista atividade o jogo das estrelas;
                </div>
            </div>
        </div>        
    </div>
</section>