<div class="video-container is-hidden-desktop is-hidden-touch">
  <div class="player" id="player">
    <h3></h3>
    <div class="iframe-container">
      <iframe
          src=""
          allowfullscreen
          allowtransparency
          allow="autoplay">
      </iframe>
    </div>
    <p class="m-t-24"></p>
  </div>
</div>